<!doctype html>
<html>

  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Secure Wallet - {% block title %}{% endblock %}</title>
    <div class="navbar">
        <a href="setup">Setup</a>
        <a href="registration">Registration</a>
        <a href="transaction">Transaction</a>
        <a href="reclaim">Reclaim</a>
        <a href="audit">Audit</a>
      </div>
    {% endblock %}
  </head>

  <body>
    
    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer">
      {% block footer %}
        Konstantin Wehmeyer 2025
        <br>
        Demo and proof of concept only - cryptographic security not guaranteed
      {% endblock %}
    </div>
  </body>
</html>